section {
    --foreground: #201154;
    --background: #dcbb58;
    --highlight: #6c4343;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
    background-color: var(--background);
    border-radius: 1rem;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: var(--foreground);
    font-weight: bold;

    span {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #volume-controls {
        .slider {
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }
        #volume {
            width: 0;
            visibility: hidden;
            transition: all 0.3s ease-in-out;
        }

        &:hover,
        &.visible {
            .slider {
                visibility: visible;
            }
            #volume {
                width: 5rem;
                opacity: 100%;
                visibility: visible;
            }
        }
    }

    #time-controls {
        width: 100%;

        div.slider {
            width: 100%;
        }

        input {
            width: 100%;
        }
        p {
            margin: 0 1rem;
        }
    }

    /* div.slider { */
    /*     appearance: none; */
    /* } */

    .slider {
        margin: 0;
        padding: 0;
        position: relative;

        input {
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
            --slider-thumb-background: grey;
            background: grey;
            border-radius: 1rem;
            overflow: hidden;
            height: 0.3rem;
            display: flex;

            &::-webkit-slider-thumb {
                appearance: none;
                -webkit-appearance: none;
                height: 100%;
                width: 0;
                box-shadow: -100vw 0 0 100vw var(--foreground);
                border: none;
            }

            &::-webkit-slider-runnable-track {
                -webkit-appearance: none;
            }

            &::-moz-range-track {
                -moz-appearance: none;
            }

            &::-moz-range-thumb {
                height: 100%;
                width: 0;
                box-shadow: -100vw 0 0 100vw var(--foreground);
                border: none;
            }
        }
    }

    button {
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;

        &.volume-button {
            svg {
                transition: all 0.3s;
                width: 1.5rem;
                fill: var(--foreground);
            }
        }

        &.play-button {
            height: 5rem;
            margin: 2rem;
            position: relative;
            &.playing {
                > :nth-child(1) {
                    display: none;
                }

                > :nth-child(2) {
                    display: block;
                }
            }

            > :nth-child(2) {
                display: none;
            }

            svg {
                width: 5rem;
                fill: var(--foreground);
                transition: all 0.3s;
            }

            &:hover {
                svg {
                    transform: scale(1.2);
                    fill: var(--highlight);
                }
            }

            #spectrum {
                position: absolute;
                top: -50%;
                left: -50%;
                width: 200%;
                height: 200%;
                pointer-events: none;

                /* janky colour conversion */
                filter: brightness(0) saturate(100%) invert(65%) sepia(5%)
                    saturate(4028%) hue-rotate(198deg) brightness(74%)
                    contrast(99%);
            }
        }

        &.random-button {
            svg {
                transition: all 0.3s;
                width: 2rem;
                fill: var(--foreground);
            }

            margin-right: 1rem;

            &:hover {
                svg {
                    transform: translateY(-0.5rem) rotate(360deg) scale(1.2);
                    fill: var(--highlight);
                }
            }
        }
    }
}
